services:
  db:
    image: postgres:15-alpine
    env_file: .env
    ports:
      - "25432:5432"
    volumes:
      - postgres_data:/var/lib/postgres/data
    restart: always
    environment:
        POSTGRES_DB: ${PG_DB}
        POSTGRES_USER: ${PG_USER}
        POSTGRES_PASSWORD: ${PG_PASS}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: